<div>
    <div class="welcome">
        <h1 id="welcome1" class="display-4">BooksBuddy</h1>
        <p id="tagline" class="h3">" Read, Learn and Discover "</p>
    </div>
    <br>
    <fieldset class="field1">
        <legend>
            <img class="card-img-top" src="assets\reminder.png" alt="Card image cap">
        </legend>
        <h2 class="reminders">All books available in this library could only be borrowed for just 7 days.</h2>
    </fieldset>
    <!-- <div class="card "> -->
        <!-- <img class="card-img-top" src="assets\reminder.png" alt="Card image cap">
            <p>All books available in this library could only be borrowed for just 7 days.</p> -->
    <!-- </div> -->
    <button class="btn btn-success" routerLink="/form">Borrow Now</button>

</div>