/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size:15px;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url("https://blog.hubspot.com/hubfs/books-every-aspiring-ceo-should-read.jpg");
    height: 800px;

}